{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if validlink %}

  <strong><h5 class="pb-0 bg-light text-center text-dark text-weight-bold">{% trans "Enter your new password below to reset your password:" %}</h5></strong>
  <div class="pt-5">

    <div class="container">
<div class="row">
    <div class="col-md-5 offset-md-3">
  <form method="POST" class="reset_pass px-4" novalidate action="">
    <center class="mt-3 py-2"><h3>Reset Password</h3></center>
    <hr/>
      {% csrf_token %}
         {{ form|crispy }}
      <center><input type="submit" class="btn btn-success mb-3 px-3 btn-sm" value="Set Password" /></center>
  </form><br><br><br><br><br>
</div>
</div>
</div>
</div><br>
{% else %}
  <h3 class="alert alert-danger text-center text-weight-bold pt-5 mt-5">
    <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> {% trans "Password Reset Unsuccessful" %} <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i></h3>
    <center><a href="{% url 'reset_password' %}" class="px-3 btn-sm btn btn-danger">Try again</a></center>

<br><br>
{% endif %}
{% endblock %}


{# This is used by django.contrib.auth #}
