{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="w-100 h-50 pt-5">

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <form method="POST" class="px-4 inner_reset form-control" action="" novalidate>
                <center><strong>Reset Your Password?</strong></center>
                <hr>
                <p class="text-dark">
                    <b>Provide the email address that you used when you signed up.</b>
                </p>
                <p class="text-dark">We will send you an email that will allow you to reset your password!!</p>
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <center><input type="submit" class="btn btn-success btn-sm px-5 border-dark" value="Send" /></center>
            </form>
        </div>
    </div>
</div>
</div>
<br>
{% endblock %}