{% extends "./base.html" %}
{% block title %}My Profile Edit{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<main class="pt-4">
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">

                <form enctype="multipart/form-data" method="POST" novalidate class="form-control profile_form">
                    <h4 class="text-weight-bold alert py-0 text-center text-dark">Edit Profile 
                    </h4><hr/>

                    {% csrf_token %}
                    {{form | crispy}}
                    <div class="text-center">
                        <input type="submit" class="btn btn-success btn-sm mr-3 mb-2 px-3 py-1" value="Save" />
                        <a href="{% url 'my_profile' request.user.profile.id %}"
                            class="px-3 py-1 mb-2 btn btn-danger btn-sm">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<br><br>


{% endblock %}